@import 'config.scss';


.checkbox {
  padding-top: 114-58px;
}

.checkbox input {
  height: 18px;
  width: 18px;
}

.checkbox label {
  display: inline;
  font-family: 'Playfair Display', sans-serif;
  font-size: $size-22;
  font-weight: $thick;
  line-height: $lheight-40;
}


.uppskrift-texti {
  background-color: $white;
  display: flex;
  flex-direction: row;
  height: 800px;
  margin-bottom: 20px;
  margin-top: 40px;
}



.uppskrift-ingredients-texti {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  width: 269px;

  margin-bottom: 20px;
  margin-top: 40px;
  order: 0;

  }

  .seemore-button2 {
    background-color: transparent;
    color: $beige;
    border-color: $beige;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .seemore-button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 339px;
    background-color: $white;
    width: 100%;
  }


