@import 'config.scss';

.all-recipes {
  padding-bottom: 30px;
}

.recipe {
  display: flex;
  height: 1000px;
  background-color:$white;

}

.ingredients-text {
display: flex;
flex-direction: column;
height:500px;
justify-content: start;

  .content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:700px;
    margin-top: 50px;

  }
}

.recipe-text {
display: flex;
flex-direction: column;
padding-bottom: 180px;

  .content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 50px;
  }
}

/*
  @media (max-width: $breakpoint1200) {
    background-position: 65% 100%;
  }

  @media (max-width: $breakpoint500) {
    background-position: 65% 100%;
    height: 100vh;
  }
}
*/


.checkbox {
  padding-top: 58px;
  text-align: end;
  position: relative;
  top: 80px;
}

.checkbox input {
  height: 18px;
  width: 18px;
}

.checkbox label {
  display: inline;
  font-family: 'Playfair Display', sans-serif;
  font-size: $size-22;
  font-weight: $thick;
  line-height: $lheight-40;

}


  .line-hr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:50px;
    align-items: center;

  //need to add visability:hidden when scaled down
}


.seemore-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:150px;

  @media (max-width: $breakpoint800) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
}




