@import 'config.scss';


.recipe {
  display: flex;
  height: 600px;
  background-color:$beige;
}

.ingredients-text {
display: flex;
flex-direction: column;
height:500px;
justify-content: start;

  .content2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:700px;
    margin-top: 50px;

  }
}

.ptext{
  display: flex;
  flex-direction: column;
  height:1000px;
}


.recipe-text{
display: flex;
flex-direction: column;
height:1000px;
width: 850px;;

  &.content{
    display: flex;
    flex-direction: column;
    justify-content: left;;
    margin-top: 50px;

  }

}

/*
  @media (max-width: $breakpoint1200) {
    background-position: 65% 100%;
  }

  @media (max-width: $breakpoint500) {
    background-position: 65% 100%;
    height: 100vh;
  }
}
*/


.checkbox {
  padding-top: 58px;
}

.checkbox input {
  height: 18px;
  width: 18px;
}

.checkbox label {
  display: inline;
  font-family: 'Playfair Display', sans-serif;
  font-size: $size-22;
  font-weight: $thick;
  line-height: $lheight-40;
}

.recipe {
  background-color: $white;

}

.uppskrift-texti {
  background-color: $white;
  display: flex;
  flex-direction: row;
  height: 800px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.uppskrift-ingredients-texti {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 20px;
  margin-top: 40px;
  order: 0;
}




// Takki fyrir neðan grein
.seemore-button {
  display: flex;
  flex-direction: column;
  height: 339px;
  background-color: $white;
}


