//Taka prufudraslið í burtu

.prufa {
  background-color: #FAFAFA;
}

@media (max-width: 800px){
  .uppskrift-titill,
  .video-uppskrift-titill {
    font-size: 18px;
  }
  .hlekkur-readmore,
  .hlekkur-see {
    font-size: 14px;
  }
}
.uppskrift-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 390px;
  margin-bottom: 20px;
}

.video-uppskrift-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-bottom: 20px;
}
.mynd-uppskrift-box {
  display: flex;
  height: 290px;
}

.mynd-video-uppskrift-box {
  display: flex;
  height: 230px;
}
.rammi {
  object-fit: cover;
  width: 100%;
}

.manudur {
  margin-top: 25px;
  margin-left: 24px;
  height: 23px;
}

.uppskrift-titill {
  height: 30px;
}
.titill-hlekkur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
}

.hlekkur-readmore {
  padding-right: 26px;
  padding-top: 5px;
}

.hlekkur-see {
  padding-right: 26px;
  padding-top: 5px;
}
