//Taka prufudraslið í burtu
@import 'config';

.prufa {
  background-color: $white;
}

@media (max-width: 800px) {
  .uppskrift-titill,
  .video-uppskrift-titill {
    font-size: 18px;
  }

  .hlekkur-readmore,
  .hlekkur-see {
    font-size: 14px;
  }
}

.uppskrift-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 390px;
  margin-bottom: 20px;
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.05);
}

.video-uppskrift-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-bottom: 20px;
}

.mynd-uppskrift-box {
  display: flex;
  height: 290px;
}

.rammi {
  object-fit: cover;
  width: 100%;
  height: 290px;
  padding-top: 49.5px;
}

.rammi-video {
  object-fit: cover;
  width: 100%;
  height: 230px;
}

.play {
  height: 230px;
  width: 30px;
  position: relative;
  left: 0;
  right: 0;
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mynd-video-uppskrift-box {
  display: flex;
  height: 230px;
  background-color: $beige;

  &:hover {
    .play {
      display: block;
    }

    .rammi {
      opacity: 0.7;
    }
  }
}

.image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.image-stack__item--bottom {
  grid-column: 1 / -1;
  grid-row: 1; // make this image be on the same row
}

.image-stack__item--top {
  grid-column: 1 / span 12;
  grid-row: 1; // must be on the same row as the other image
  z-index: 1; // make this image render on top of the bottom
}

.manudur {
  margin-top: 25px;
  margin-left: 24px;
  height: 23px;
}

.uppskrift-titill {
  height: 30px;
}

.titill-hlekkur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 24px;
}

.hlekkur-readmore {
  padding-right: 26px;
  padding-top: 5px;

  @media (max-width: $breakpoint500) {
    padding-right: 17px;
    padding-top: 2px;
  }
}

.hlekkur-see {
  padding-right: 26px;
  padding-top: 5px;

  @media (max-width: $breakpoint500) {
    padding-right: 17px;
    padding-top: 2px;
  }
}
