// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg



$max-width: 1600px;
$gutter: 20px;
$offset: 10px;
$breakpoint: 1150px;

//Letur stærð í em, 1em is 18px,

$size-0: 0.77em;    // 14px   Setti inn size 1 og 2 svo ég gæti importað config í global
$size-1: 0.83333em; // 15px     kv Ingibjörg
$size-2: 0.88888em; // 16px
$size-3: 1em;       // 18px - meginmal
$size-4: 2.22em;    // 40px
$size-5: 3.33em;    // 60px

//Mobile
      //12px Line height 18px - Date on recipe card / email text on footer / *go to store button
      //14px line height 21px - button text / read more /
      //15px Line-height 25px - Main text / recipe text / information text
      //16px Line height 17px - Ingredients text
      //18px Line height 24px - Recipe title
      //20px Line height 27px - Sub heading
      //32px Line height 43px - Heading
      //60px Line height 90px - Navigation bar


// Desktop
// 14px                         - Date on recipe card / email text on footer /
// 15px                         - Navigation
// 16px                         - on top of heading / Read more recipe / Button text
// 18px Line-height 32px        - Maintext / Information text /
// 22px                         - Recipe title / Email example text / Only show video recipies box /
// 36px Line-height: 18px       - Numbers for ingredients /
// 40px Line-height 53.32px     - Recipe heading
// 60px Line-height 79.98px     - Heading

//Litir

$black: #000;
$grey: #999;
$light-grey:#FAFAFA;
$light-beige: #F7F1EB;
$white: #FFFFFF;
$brown: #F7F1EB;

// Letur og icon litir aðrir en svart og hvítt

$beige: #E3CDB1;
$light-grey-text:#D0D0D0;
$grey-text:#5E5B69;

// button transition

$transition: background-color 2s ease-out;
