// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg



$max-width: 1600px;
$gutter: 20px;
$offset: -20px;

//Letur stærð í em, 1em is 18px,

$size-0: 0.77em;  // 14px
$size-1: 1em;     // 18px meginmal
$size-2: 2.22em;  // 40px
$size-3: 3.33em;  // 60px
//Litir

$black: #000;
$grey: #999;
$light-grey:#FAFAFA;
$light-beige: #F7F1EB;
$white: #FFFFFF;
$brown: #F7F1EB;

// Letur og icon litir aðrir en svart og hvítt

$beige: #E3CDB1;
$light-grey-text:#D0D0D0;
$grey-text:#5E5B69;

// button transition

$transition: background-color 2s ease-out;
