@import 'config';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 336px;
  margin-top: auto;
  width: 100%;
}

.midja {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
}

//Newsletter

.newsletterbox {
  height: 339px;
  background-color: $black;
  width: 100%;
}

.nl {
  height: 100%;

  @media (max-width: $breakpoint1200) {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.desktop {
  @media (max-width: $breakpoint1200) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: $breakpoint1200) {
    display: block;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $breakpoint1200) {
    width: 275px;
  }
}

.subscribe2 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $breakpoint1200) {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.form {
  margin-top: -10px;
}

input {
  background: transparent;
  border: 1px $beige;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  height: 60px;
  width: 100%;

  &:focus {
    outline: transparent;
  }

  @media (max-width: $breakpoint1200) {
    height: 45px;
  }
}

.buttonsub {
  align-items: end;
  padding-top: $size-22;

  @media (max-width: $breakpoint1200) {
    padding-bottom: 40px;
    align-items: center;
  }
}
