@import 'styles/config';

// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  z-index: 3;
}

main {
  padding-left: $offset;
  padding-right: $offset;
}

//Main heading á síðunni
.h {
  font-family: 'Playfair Display', serif;
  font-size: $size-60;
  font-weight: $thick;
  color: $black;
  line-height: $size-80;

  @media (max-width: $breakpoint500) {
    font-size: $size-32;
    line-height: $size-43;
  }
}

//Section heading
.sectionh {
  font-family: 'Playfair Display', serif;
  font-size: $size-40;
  line-height: $lheight-40;
  font-weight: $thick;
  color: $black;

  @media (max-width: $breakpoint500) {
    font-size: $size-20;
    line-height: $lheight-20;
  }
}

//Newsletter heading - The Method
.newsletterh {
  font-family: 'Playfair Display', serif;
  font-size: $size-40;
  line-height: 1.5;
  font-weight: $thick;
  color: $white;

  @media (max-width: $breakpoint1200) and (min-width: $breakpoint500) {
    font-size: $size-36;
  }

  @media (max-width: $breakpoint500) {
    font-size: $size-20;
    line-height: $lheight-20;
  }
}

//Card heading - input text
.cardh {
  font-family: 'Playfair Display', serif;
  font-size: $size-22;
  line-height: $lheight-22;
  font-weight: $thick;
  color: $black;

  @media (max-width: $breakpoint500) {
    font-size: $size-18;
    line-height: $lheight-18m;
  }
}

.inputh {
  font-family: 'Playfair Display', serif;
  font-size: $size-22;
  line-height: $lheight-22;
  font-weight: $thick;
  color: $white;

  @media (max-width: $breakpoint500) {
    font-size: $size-18;
    line-height: $lheight-18m;
  }
}

//Meginmál
p {
  font-family: 'Poppins', sans-serif;
  font-size: $size-18;
  line-height: $lheight-0;
  font-weight: $super-thin;
  color: $grey-text;

  @media (max-width: $breakpoint500) {
    font-size: $size-15;
    line-height: $lheight-15;
  }
}


//Ingredients (first number targeted)
.ingredients {
  font-family: 'Poppins', sans-serif;
  font-weight: $super-thin;
  font-size: $size-18;
  line-height: $lheight-18d2;
  color: $beige-grey-text;

    @media (max-width: $breakpoint500) {
    font-size: $size-16;
    }
  }

.ingredients-larger{
  font-family: 'Poppins', sans-serif;
  font-weight: $super-thin;
  font-size: $size-40;
  line-height: $lheight-32;
  color: $beige-grey-text;

  @media (max-width: $breakpoint500) {
  font-size: $size-16;
  }
}

.ingredients-heading {
  font-family: 'Poppins', sans-serif;
  font-size: $size-18;
  font-weight: $thin;
  line-height: $lheight-18d2;
  color: $black;

  @media (max-width: $breakpoint500) {
    font-size: $size-14;
    line-height: $lheight-0;
  }
}

.ingredients-number {
  font-family: 'Playfair Display', serif;
  font-size: $size-30r;
  font-weight: $thick;
  line-height: $lheight-30;
  color: $beige;
  vertical-align: text-top;
  padding-right:10px;

  @media (max-width: $breakpoint500) {
    font-size: $size-32;
    line-height: $lheight-32-2;
  }
}
  //horizontal line for See More button

  hr {
    width: 100%;
    border: 0;
    height: 2px;
    background: #000;
    opacity: 0.1;

  }


//Newsletter - Craving more? & email
.n-c {
  font-family: 'Poppins', sans-serif;
  font-size: $size-16;
  font-weight: $normal;
  line-height: $lheight-0;
  color: $beige;

  @media (max-width: $breakpoint500) {
    font-size: $size-12;
    line-height: $lheight-0;
  }
}

.n-e {
  font-family: 'Poppins', sans-serif;
  font-size: $size-16;
  font-weight: $normal;
  line-height: $lheight-0;
  color: $white;

  @media (max-width: $breakpoint500) {
    font-size: $size-12;
    line-height: $lheight-0;
  }
}

//Navigation items í header
.navi {
  font-family: 'Poppins', sans-serif;
  font-size: $size-15;
  font-weight: $thin;
  line-height: $lheight-0;
  color: $beige-grey-text;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }

  @media (max-width: $breakpoint500) {
    font-family: 'Playfair Display', serif;
    font-weight: $thick;
    color: $black;
    font-size: $size-60;
    line-height: $lheight-0;
  }
}

//months on cards and footer link
.monthlink {
  font-family: 'Poppins', sans-serif;
  font-size: $size-14;
  font-weight: $super-thin;
  line-height: $lheight-0;
  color: $light-grey-text;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

//Footer heading
.footerh {
  font-family: 'Poppins', sans-serif;
  font-size: $size-18;
  font-weight: $thin;
  line-height: $lheight-18d2;
  color: $black;

  @media (max-width: $breakpoint500) {
    font-size: $size-14;
    line-height: $lheight-0;
  }
}

.takki {
  align-content: center;
  color: $beige;
  font-family: 'Poppins', sans-serif;
  font-weight: $normal;
  font-size: $size-16;
  line-height: $lheight-0;
  outline: none;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }
}

button {
  border: 1px solid $beige;
  height: 52px;
  width: 250px;

  @media (max-width: $breakpoint500) {
    height: 42px;
    width: 191px;
    outline: none;
  }
}

button:hover,
button:hover a {
  background-color: $beige;
  color: $light-grey;
}

button:focus,
button:focus a {
  background-color: $light-grey;
  color: $beige;
}

//dæmi um hvernig button gæti verið í footer
.sub-button {
  background-color: transparent; //eða kannski transparent bara
  color: $black;
  border-color: $beige;
  outline: none;
  align-items: center;
}



li {
  list-style-type: none;
}

::placeholder {
  color: $dark-grey-text;
}

.ingredients-padding {
  padding-right: 50px;
  margin-left: 15px;
}

.ingredients-padding3 {
  padding-right: 45px;
  margin-left: 15px;
}

.ingredients-padding2 {
  padding-top: 10px;

  @media (max-width: $breakpoint500) {
    padding-top: 5px;
  }
}

.padding-forsida {
  padding-bottom: 30px;
}

.hide-mobile {
  @media (max-width: $breakpoint500) {
    display: none;
  }
}

.hide-mobile-plus {
  @media (max-width: $breakpoint800) {
    display: none;
  }
}
.show-mobile {
  @media (max-width: $breakpoint500) {
    display: block;
  }
  @media (min-width: $breakpoint500+1) {
    display: none;
  }
}

.grey {
  color: $light-grey-text;
  padding-right: 10px;
  padding-left: 15px;
}

.takki-padding {
  padding-top: 50px;
  padding-bottom: 53px;
}
