@import 'styles/config';

// notið þetta þegar grid er ekki inni í main

.padding{
  padding-left: $offset;
  padding-right: $offset;
}

// notið eftirfarandi strúktúr: <class="main"> eða <class="padding">
//                                <class"grid">
//                                  <class"row">
//                                    <class"col col-?">

.grid {
  margin: 0 auto;
	max-width: $grid-max;
	overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$offset;
  margin-left: -$offset;
}

.col {
	padding-left: $offset;
  padding-right: $offset;
}

// for loopa - býr til col klasa. col-1 spannar einn dálk af 12 eða c.a. 8.7% width. col-12 spannar 100% width.
@for $i from 1 through 12 {
	.col-#{$i} {
		width: percentage($i / 12);
	}
}

// Offset ef þú vilt láta textann byrja annarsstaðar en lengst til vinstri. Tölurnar táknar fjölda dálka.
@for $i from 1 through 6 {
	.offset-col-#{$i} {
		margin-left: percentage($i / 12);
		margin-right: percentage($i /12);
	}
}

// Sama og fyrir ofan nema fyrir mobile.
@media (max-width: $breakpoint) {
	@for $i from 1 through 12 {
		.col-s-#{$i} {
			width: percentage($i / 12);
		}
	}

	@for $i from 1 through 2 {
		.offset-col-s-#{$i} {
			margin-left: percentage($i / 12);
			margin-right: percentage($i /12);
		}
	}
}
