@import 'styles/config';

.grid {
  margin: 0 auto;
	max-width: $grid-max;
	overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$offset;
  margin-left: -$offset;
}

.col {
	padding-left: $offset;
  padding-right: $offset;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		width: percentage($i / 12);
	}
}

@for $i from 1 through 6 {
	.offset-col-#{$i} {
		margin-left: percentage($i / 12);
		margin-right: percentage($i /12);
	}
}

@media (max-width: $breakpoint) {
	@for $i from 1 through 12 {
		.col-s-#{$i} {
			width: percentage($i / 12);
		}
	}

	@for $i from 1 through 2 {
		.offset-col-s-#{$i} {
			margin-left: percentage($i / 12);
			margin-right: percentage($i /12);
		}
	}
}
