@import 'config';

.hamburger {
  cursor: pointer;
  display: none;

  @media (max-width: 800px) {
    display: inherit;
  }
}

//Takkinn

.menu-btn {
  position: fixed;
  height: 30px;
  width: 40px;
  right: $offset*3;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  @media (max-width: $breakpoint500) {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
  }
}

.menu-btn2 {
  position: fixed;
  height: 30px;
  width: 40px;
  right: $offset*3;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  @media (max-width: $breakpoint500) {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
  }
}

.menu-btn-burger {
  width: 25px;
  height: 3px;
  background: $black;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background: $black;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-7px);
}

.menu-btn-burger::after {
  transform: translateY(7px);
}

/* Animation */

.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu-btn2.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn2.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn2.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.hamburger-menu {
  display: none;

  &:checked {
    max-height: 100vmax;
    height: 100vmax;
  }

  flex-direction: column;
  justify-content: space-evenly;
}

// Menu-ið

#toggle {
  display: none;
}

label {
  display: none;

  @media (max-width: $breakpoint500) {
    display: inherit;
  }
}

@media (max-width: $breakpoint500) {
  .valmynd {
    margin-top: 25px;
    position: fixed;
    left: 0;
    text-align: center;
    width: 100%;
    margin-right: $offset;
    display: none;
    flex-direction: column;
    height: 100vmax;
    justify-content: start;
    padding-right: $gutter;
    background: $white;
  }

  .valmynd a {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 22.5vh;
    justify-content: center;
    width: 100vw;
    background-color: $light-grey;
    margin-top: 1px;
  }

  #toggle:checked + .valmynd {
    display: flex;
  }
}
