@import 'styles/config';

.hoffset {
  position: fixed;
  max-width: $grid-max;
  width: 100%;
}

.headerbackground {
  width: 100%;
  height: 80px;
  background-color: $white;
  position: fixed;
  padding-left: $offset;
  padding-right: $offset;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  padding-top: 28px;;
  padding-bottom: 27px;
  z-index: 3;
  background-color: $white;
}

.valmynd {
  @media (max-width: $breakpoint){
    display: none;
  }
}


.valhlekkir {
 padding-left: 26px;
}
