@import 'config';

// Almennt
.hero-index {
  display: block;
  height: 690px;
  width: 100%;
  background-color: $light-grey;
  background-image: url(../img/Background-Header-Image.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (max-width: $breakpoint1200) {
    background-position: 65% 100%;
  }

  @media (max-width: $breakpoint500) {
    background-position: 65% 100%;
    height: 100vh;
  }
}

.hero-index-video {
  display: block;
  height: 690px;
  width: 100%;
  background-color: $light-grey;
  background-image: url(../img/Background-Header-Image.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (max-width: $breakpoint500) {
    background-position: 65% 100%;
    height: 100vh;
  }
}

.hero-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 690px;
  padding-bottom: 150px;

  @media (max-width: $breakpoint800) {
    align-items: center;
    height: 100vh;
  }
}

.title {
  @media (max-width: $breakpoint800) {
    text-align: center;
    padding-bottom: 17px;
  }
}

.description {
  padding-top: 14px;
  padding-bottom: 30px;

  @media (max-width: $breakpoint800) {
    display: none;
  }

  @media (max-width: $breakpoint500) {
    display: none;
  }
}

// Forsíða
.eyebrow {
  @media (max-width: $breakpoint800) {
    text-align: center;
  }
}

.btn {
  @media (max-width: $breakpoint800) {
    margin-bottom: 20vh;
  }
}

// Uppskriftasíða

.nedra-augnlok {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 21px;

  @media (max-width: $breakpoint800) {
    margin-bottom: 300px;
  }

  @media (max-width: $breakpoint500) {
    flex-direction: column;
  }
}

.first-word {
  font-weight: 400;
  color: $black;
}

.nedra-augnlok-texti {
  padding-right: 36px;
}

.hanskar {
  background-image: url(../img/baking_gloves.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 22px;
  margin-right: 12px;
}

.diskur {
  background-image: url(../img/Servings-Icon.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 22px;
  margin-right: 12px;
}

.hnifur {
  background-image: url(../img/Preparation-Icon.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 26px;
  margin-right: 12px;
}

.info-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

.falid {
  display: none;

  @media (max-width: $breakpoint500) {
    display: inherit;
    width: 55%;
  }
}

// Videouppskrifasíða

.nedra-augnlok-video {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 21px;

  @media (max-width: $breakpoint800) {
    margin-bottom: 100px;
  }

  @media (max-width: $breakpoint500) {
    flex-direction: column;
  }
}

.hero-video {
  height: 650px;
  background-image: url(../img//videobg.png);
}

.hero {
  background-image: linear-gradient(to right, $black 35%, transparent);
}

.white {
  color: $white;
}

.collie {
  width: 60%;
}
